# Проигнорируем файлы, находящиеся в подкаталоге tmp
tmp/

# Проигнорируем файлы, заканчивающиеся суффиксами _old, _backup
*.*_old
*.*_backup

## Проигнорируем файлы и каталоги .DS_Store и Thumbs.db
.DS_Store
Thumbs.db
